<div class="guide">
  <div class="main">
    <div class="actions">
      <form action="/search" method="get">
        <a href="/">Home</a> | 
        <a href="/edit/{{today_page}}">Today</a> | 
        <input type="search" name="q" size="10" /> <input type="submit" value="search" />
      </form>
    </div>
    <h1>All Pages</h1>
    <div class="content wikistyle gollum all_pages">
      <table>
      {{#pages}}
          <tr>
            <td> 
              <a href="/{{name}}">{{name}} </a> 
            </td>
            <td class="authored_date"> 
              {{authored_date}}
            </td>
          </tr>
      {{/pages}}
      </table>
    </div>
  </div>
</div>

